{% extends "wagtailadmin/base.html" %}
{% load i18n wagtailadmin_tags wagtailui_tags %}
{% load l10n %}

{% block titletag %}{% blocktrans with title=page.get_admin_display_title %}Page history for {{ title }}{% endblocktrans %}{% endblock %}

{% block content %}
    {% trans "Page history" as history_str %}
    {% include "wagtailadmin/shared/header.html" with title=history_str subtitle=page.get_admin_display_title icon="doc-empty-inverse" %}

    <div class="nice-padding">
        <div id="revision-results" class="revisions">
            {% include "wagtailadmin/pages/history/list.html" %}
        </div>
    </div>
{% endblock %}
