{% extends 'wagtailadmin/reports/base_report.html' %}
{% load i18n wagtailadmin_tags %}

{% block titletag %}{% blocktrans with title=subtitle %}Page history for {{ subtitle }}{% endblocktrans %}{% endblock %}

{% block bodyclass %}page-with-top-filters{% endblock %}

{% block results %}
    {% if object_list %}
        <table class="listing">
            <thead>
                <tr>
                    <th>
                        {% trans 'Action' %}
                    </th>
                    <th>
                        {% trans 'User' %}
                    </th>
                    <th class="updated">
                        {% trans 'Date / Time' %}
                    </th>
                </tr>
            </thead>
            <tbody>
                {% page_permissions page as page_perms %}
                {% for entry in object_list %}
                    <tr>
                        <td>
                            {{ entry|format_action_log_message }}

                            {% if entry.revision %}
                                {% if entry.revision == page.get_latest_revision %}({% trans 'Current draft' %}){% endif %}
                                {% if entry.revision == page.live_revision %}({% trans 'Live version' %}){% endif %}
                                {% if entry.content_changed %}
                                    {% include "wagtailadmin/pages/revisions/_actions.html" with revision=entry.revision %}
                                {% endif %}
                            {% endif %}
                        </td>
                        <td>
                            {% include "wagtailadmin/shared/user_avatar.html" with user=entry.user username=entry.username %}
                        </td>
                        <td class="updated">
                            <div class="human-readable-date" title="{{ entry.timestamp|date:"d M Y H:i" }}">{% blocktrans with time_period=entry.timestamp|timesince %}{{ time_period }} ago{% endblocktrans %}</div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>{% trans "No log entries found." %}</p>
    {% endif %}
{% endblock %}

{% block no_results %}
    <p>{% trans "No log entries found." %}</p>
{% endblock %}

{% block filters %}
    <form method="get">
        {% for filter in filters.form %}
            <div class="filter">
            {{ filter.label_tag }}
            {{ filter }}
            {{ filter.errors }}
            </div>
        {% endfor %}
        <button class="button button-longrunning" type="submit">{% trans 'Filter' %}</button>
    </form>
{% endblock %}
